<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./estilospagina.css">
    <title>{{ title }}</title>
</head>
<body>
    {% include 'header.njk' %}

    {{ content | safe }}
    <div class="sinopsis" id="sinopsis">
    {% include 'sinopsis.njk' %}

        </div>
    <div class="personajes" id="personajes">
             {% include 'personajes.njk' %}

    {%- for post in collections.post -%}
               <p><h3>{{post.data.personaje}}</h3>
                {{post.data.descripcionpersonaje}}
                </p>
                <img src="{{post.data.imagenpersonaje}}" class="im" width="" alt="">
               

    {%- endfor %}
    </div> 
    

<div class="cronologia" id="cronologia">
    {% include 'cronologia.njk' %}

{%- for post in collections.post -%}
     <p>
    <h4><a href="{{post.data.enlacetemporada}}">{{post.data.temporada}}</a> </h4>
    {{post.data.descripciontemporada}}
    </p> 
{%- endfor %}
</div>

    {% include 'footer.njk' %}

   <script type="text/javascript" src="interacciones.js" ></script>
</body>
</html>

{# 
variables para postear
personaje:
descripcionpersonaje:
imagenpersonaje:


enlacetemporada:
temporada:
descripciontemporada:
 #}