    <h2 class="">Cronología:</h2>
<h3 class="contexto">Este es el orden correcto si quieres disfrutar de esta maravillosa serie de anime</h3>
<h3> Puedes tocar el nombre de cada temporada y extras para ir a ver los episodios </h3>

<p>
    <h4><a href="https://animeblix.com/animes/ver-boku-no-hero-academia-Nq6boCp2" target="_blank">Temporada 1</a></h4>
Esta temporada tiene un total de 13 episodios.
</p>


<p>
    <h4><a href="https://animeblix.com/animes/ver-boku-no-hero-academia-2da-temporada-mXIPhvEK" target="_blank">Temporada 2</a>  </h4>
Esta temporada tiene un total de 25 episodios y un ova antes del episodio después del episodio 20
</p>


<p>
    <h4><a href="https://animeblix.com/animes/ver-boku-no-hero-academia-two-heroes-la-pelicula-YWb08EMJ" target="_blank">Primer película</a></h4>
     La película tiene lugar tras el arco del examen final, en verano, pero antes del arco de entrenamiento del bosque. Asimismo, resulta muy interesante porque nos cuenta más información del pasado de All Might.
</p>

<p>
    <h4><a href="https://animeblix.com/animes/ver-boku-no-hero-academia-3ra-temporada-uavKiG8C" target="_blank">Temporada 3</a> </h4>
    Esta temporada cuenta con 25 episodios.
</p>

<p>
    <h4> </h4>
    
</p>

<p>
    <h4><a href="https://animeblix.com/animes/ver-boku-no-hero-academia-temporada-4-Ok63L2Ds" target="_blank">Temporada 4</a> </h4>
    Esta temporada cuenta con 25 episodios.
</p>

<p>
    <h4><a href="https://animeblix.com/animes/ver-boku-no-hero-academia-temporada-5-eyQvXx6abq" target="_blank">Temporada 5</a></h4>
    Esta temporada cuenta con 25 episodios
</p>


    




 
