<header>
    <div class="navegacion" id="navegacion" name="navegacion" >
            
    	<nav class="barra">
    		<ul class="elementos" id="lista">
    			<li><a href="#sinopsis">Sinopsis</a></li>
    			<li><a href="#personajes">Personajes</a></li>
    			<li><a href="#cronologia">Cronologia</a></li>
                <li ><a class="saludo" id="saludo">¿Como te llamas?</a></li>
    		</ul>
    	</nav>
    </div>
        </header>